<h2>Passwort ändern</h2>
<hr/>
<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
<div class="formwrapper">
	<fieldset>
	<legend>Benutzerangaben</legend>
    {{ form_widget(form) }}
    </fieldset>
    
    <div>
        <input class="greenbutton" type="submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
    </div>
</form>
