{% extends "FlouVideoManagerBundle::internlayout.html.twig" %}

{% block sidemenu %}
<ul id="sidemenulist">
	<li><a href="{{ path('user_info') }}"><span class="label">Kontoinformationen</span></a></li>
	<li><a href="{{ path('fos_user_change_password') }}"><span class="label">Passwort ändern</span></a></li>
</ul>
{% endblock %}

{% block content %}
{% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
{% endblock %}

{% block help %}
<p>In diesem Menü können Sie Ihr <strong>Passwort</strong> ändern.</p>
{% endblock %}
