{% extends '::base.html.twig' %}

{% block title %}Antaris Videomanager{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/flouvideomanager/css/reset.css') }}"/>
	<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/flouvideomanager/css/videomanager.css') }}"/>
	<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.js"></script> -->
	
	{% if is_granted('ROLE_PREVIOUS_ADMIN') %}
	<style type="text/css">
	body{
		background-color:#F22129;
	</style>
	{% endif %}
	
{% endblock %}

{% block body %}
<div id="wrapper">
		<div id="header" class="center">{% block header %}<img src="{{ asset('bundles/flouvideomanager/images/smalmovielogo.png') }}">  <span><h1 style="display:inline;"> Antaris Videomanager</h1></span>{% endblock %}</div>
	<div id="topmenu" class="center clearfix">
		{% block topmenu %}
		{% endblock %}
		<div class="clear"></div>
	</div>

	<div id="innerwrapper" class="center rounded-corners">
		
		
		<div id="contentwrapper">
		<div id="content">
			{% if app.session.hasFlash('notice') %}
			    <div class="flash-notice">
			        {{ app.session.flash('notice') }}
			    </div>
			{% endif %}
			{% block precontent %}
			{% endblock %}
		</div>
		</div>
		
		<div id="sidemenu">
			{% block sidemenu %}
			{% endblock %}
			<div class="clear"></div>
		</div>
		
		
		<div class="clear"></div>
		
		
	</div>
<div class="copyright">Copyright 2012 by DIF</div>
</div>
{% endblock %}