{% extends 'FlouVideoManagerBundle::internlayout.html.twig' %}

{% block sidemenu %}
<ul id="sidemenulist">
	<li><a href="{{ path('admin_update') }}"><span class="label">Update</span></a></li>
	<li><a href="{{ path('admin_getuser') }}"><span class="label">Benutzerrolle</span></a></li>
</ul>
{% endblock %}

{% block content %}
<h2>Update</h2>
<hr/>
{% for message in update.messages %}
<p>{{ message }}</p>
{% endfor %}
{% endblock %}